<html>
  <head>
    <title>form to add new data</title>
  </head>
  <body>
    <h1>this is form to add more user</h1>
    <form method="post" action="/new">
      <fieldset>
        <h3>name</h3>
        <input
          name="user"
          type="text"
          value="Chris Evans
            "
        />
        <h3>text</h3>
        <input
          name="text"
          type="text"
          value="Wish you a happy birthday
            "
        />
      </fieldset>
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
  </body>
</html>
