<html>
  <header>
    <title>index Page</title>
  </header>
  <body>
    <h1>List of all the messages</h1>
    <body>
      <ul>
        <% messages.forEach((message) => { %> <%-
        include('user',{id:message.id,user:message.user,message:message.text,date:message.added});
        %> <% }); %>
      </ul>
      <a href="/new">Add message</a>
    </body>
  </body>
</html>
